body{
    background-image: linear-gradient(to top right,rgba(37, 16, 223, 0.788),rgba(17, 224, 110, 0.877));
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
}
img{
    float:left;
    padding-left: 75px;
    padding-top: 70px;
    height:170px;
}
#id1{
    text-align: center;
}
.flex-container{
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-container > div.container1 {
    background-color: white;
    width: 500px;
    height: 290px;
    text-align: center;
    border-radius: 20px;
    line-height: 20px;
    box-shadow: 20px 20px 50px lightgray inset;
  }
  div{
    margin: 10px;
  }
  
input{
    background-color: whitesmoke;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    border:0px;
}
button{
    margin-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border:0;
    margin-bottom: 10px;
    box-shadow: 20px 20px 50px rgb(65, 125, 236) inset;
}   
button:hover{
cursor: pointer;
}
h1{
    padding-top: 20px;
}