body{
    background-image: url("/public/images/student_edited1.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#id1{
    text-align: center;
}
h1{
    padding-top: 10px;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.container1 {
    background-color:whitesmoke ;
    width: 500px;
    text-align: center;
    border-radius: 20px;
    line-height: 20px;
    /* font-size: 30px; */
  }

  div{
    margin: 10px;
  }
  
input{
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    margin-left: 5px;
    border:0px;
}
button{
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 10px;
}
button:hover{
    box-shadow: 5px 5px lightgrey;
}
label{
    display: flex;
    margin-top: 10px;
    padding: 10px 60px;
    align-items: left;
}
.div1 {
    display: inline-block;
}
.nameroll{
    margin-left: 60px;
}
.examdate{
    margin-left: 10px;
    padding-left: 34px;
    position: relative;
}

.flex-container1{
    display: flex;
    flex-direction: row;
    /* align-content: space-around; */
}
.container2 {
    background-color:whitesmoke ;
    width: 500px;
    height:350px;
    text-align: center;
    border-radius: 20px;
    line-height: 20px;
    /* font-size: 30px; */
  }