body{
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
}
table, td, th {  
    border: 0px dotted white;
  }
  table {
    border-collapse: collapse;
  }
  .table-data{
    left:150px;
    top:100px;
  }
  th, td {
    padding: 15px;
    text-align: center;
  }
  tr:hover {
      background-color:#f5f5f5;
    }
#flex-container{
    display: flex;
    height:400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#flex-container > div.container1 {
  background-color: rgba(255,255,255)	;
  width: 740px;
    text-align: center;
    border-radius: 20px;
    line-height: 20px;
    box-shadow: 20px 20px 50px goldenrod ;
  }
  div{
    margin: 10px;
  }
  
